<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046716731026-5qdaglpsh5bq32sfihh2ncur3ql84crj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046716731026-5qdaglpsh5bq32sfihh2ncur3ql84crj</string>
	<key>API_KEY</key>
	<string>AIzaSyDWNz0GfHPmV27w_wY14kR7nPjWsUv3WEw</string>
	<key>GCM_SENDER_ID</key>
	<string>1046716731026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdsctknp.suproVigilant</string>
	<key>PROJECT_ID</key>
	<string>supro-vigilant</string>
	<key>STORAGE_BUCKET</key>
	<string>supro-vigilant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046716731026:ios:cb2549be91b501e8b1604b</string>
</dict>
</plist>